.AppBar {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.Desktop-Navbar {
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); */
  padding: 21px;
  max-width: 1120px;
  /* display: flex; */
  /* justify-content: center; */
}

.Navbar-Container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  justify-content: space-between;
  padding: 22px;
}

.FirstSection {
  display: flex;
  align-items: center;
}

.logo {
  width: 170px;
}

.UniverseTrigger {
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  gap: 8px;
}
.UniverseTrigger:hover {
  border-color: black;
  background-color: lightgray;
}

.UserButton {
  cursor: pointer;
  gap: 8px;
  font-size: 20px;
  padding-left: 5px;
}
