.Wrapper {
  display: flex;
  gap: 80px;
  margin-top: 40px;
}

.Sidebar {
  width: 280px;
  height: 635px;
}

.User-Content {
  width: 600px;
  height: 100vh;
}

.User-Info-Wrapper {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 16px;
  align-items: center;
  gap: 16px;
}

.User-Info-icon {
  border: 1px solid lightblue;
  border-radius: 50%;
  border-width: 12px;
  background-color: lightblue;
}

.User-Content h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

.User-SideBar-Links {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 16px;
  align-items: center;
}

.User-SideBar-Links:hover {
  background-color: lightgrey;
}
